@import "src/styles/variables.scss";

.contact {
  height: 100vh;
  scroll-snap-align: center;
  @include flex-center;
  overflow: hidden;

  &-content {
    display: flex;
    gap: 50px;
  }

  &-text {
    flex: 1;

    h1 {
      font-size: 96px;
      line-height: 88px;
      margin-bottom: 40px;
    }

    &-links {
      display: flex;
      flex-direction: column;
      gap: 32px;

      p {
        font-size: 20px;
        font-weight: 500;
      }

      a {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  &-form {
    flex: 1;
    position: relative;

    &-form {
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 30px;

      input,
      textarea {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #fff;
        background-color: transparent;
        z-index: 10;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1.4px;
      }
    }

    &-icon {
      position: absolute;
      z-index: 0;
      path {
        stroke-width: 0.2;
        stroke: $clr_orange;
      }
    }

    &-btn {
      color: #000;
      background-color: $clr_orange;
      padding: 10px;
      border-radius: 10px;
      font-family: $font-family-primary;
      border: none;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      z-index: 5;
      &:hover {
        background-color: $clr_orange_hover !important;
      }
    }
  }
}
