// Colors

$clr_text: #212529;
$clr_white: #fff;
$clr_orange: #ffa500;
$clr_orange_hover: #e69500;
$clr_bgd: #0c0c1d;
$clr_gray: #808080;

$accent-brand-primary: #635bff;
$clr_primary: #939aff;

// Font family
$font-family-primary: "DM Sans", sans-serif;

// Flex

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin line-clamp2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
