@import "src/styles/variables.scss";

.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;

  @include mobile {
    padding-top: 20px;
  }

  &-img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    @include mobile {
      height: 50%;
      object-fit: cover;
      top: unset;
      bottom: 0;
      right: 30px;
    }
  }

  &-info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    z-index: 5;

    @include mobile {
      height: 70%;
      gap: 20px;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
    }

    h2 {
      font-size: 30px;
      color: rebeccapurple;
      letter-spacing: 8px;

      @include mobile {
        font-size: 24px;
      }
    }

    h1 {
      font-size: 64px;

      @include mobile {
        font-size: 36px;
      }
    }

    &-buttons {
      display: flex;
      gap: 20px;

      button {
        padding: 20px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        cursor: pointer;

        @include mobile {
          padding: 12px;
        }
      }
    }

    img {
      width: 50px;
    }
  }

  &-sliding-text {
    position: absolute;
    font-size: 50vh;
    bottom: -80px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
    z-index: 1;
  }
}
